:root {
  --accent: orange;
  --accent-transp: #ffa50088;
  --secondary: rgb(224, 224, 127);
  --primary: #a0c0d7;
  --gray: rgb(0, 0, 0);
  --light-gray: rgb(0, 0, 0);
  --header-bcol: #567eac;
  --body-bcol: #1f3e5c;
  --dark: rgb(2, 22, 34);
  --gray-transp: #ddd2;
  --header: rgb(255, 165, 0);
  --stroke: #000;
}
