main form,
#field__error > div {
  background-color: var(--primary);
  width: 50%;
  padding: 1rem;
  border: 2px solid var(--accent);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main input,
main textarea {
  border: 2px solid black;
  border-radius: 3px;
  margin: 0.2rem 0 0.2rem auto;
  width: 22rem;
  height: 1.4rem;
  background-color: white;
}

main textarea {
  height: 6rem;
}

main button {
  border: 2px solid black;
  border-radius: 3px;
  width: 6rem;
  height: 2.2rem;
  margin-top: 1rem;
  background-color: var(--header-bcol);
  font-weight: bold;
}

input:invalid {
  outline: 2px solid var(--accent);
}

[type="dialog"],
#field__error > div {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

[type="file"]::before {
  content: "Select file";
  display: inline;
  background: var(--accent);
  padding: 0.5rem 0.6rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
