:root {
  --primary: #d0edf6;
  --secondary: #5b94bd;
  --accent: #1a6092;
  --gray: #333;
  --light-gray: #555;
  --header-bcol: #ccedf7;
  --body-bcol: #b9e5f2;
  --dark: #000;
  --gray-transp: #3332;
  --header: #000;
}
